<div class="container p-4">
    <div class="row">
        {{#each users}}
        <div class="col-md-4 my-3">
            <div class="card text-center">
                <input type="text" class="form-control" name="idSala" value="{{idSala}}" hidden>

                <div class="card-body">
                    <form action="/salas/compartir/" method="POST">
                        <a href="" target="_blank">
                            <h3 class="card-title text-uppercase">
                                {{username}}
                            </h3>
                        </a>
                        <p class="m-3">{{correo}}</p>
                        <input type="text" class="form-control" name="id" value="{{id}}" hidden>
                        <button class="btn btn-success btn-block">
                            AÑADIR
                        </button>
                    </form>
                    {{!-- <a class="btn btn-primary" href="/salas/compartir/{{idSala}}">
                        Compartir
                    </a> --}}
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ninguna sala para este usuario.</p>
                <a href="/salas/add">Crea Uno!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>